body {
  background-color: black;
  color: white;
}

p {
  font-size: 20px;
  margin-bottom: 20px;
}
.col-img {
  padding-left: 70px;
}
#about {
  margin-top: 180px;
}
.tech-stack {
  margin-top: 100px;
  padding-bottom: 140px;
}
.tech-stack > div > img {
  width: 100px;
  height: 100px;
}
.project {
  margin-bottom: 100px;
}
.project-content {
  margin-bottom: 160px;
}
.card > img {
  width: 300px;
  height: 300px;
}
#message {
  min-height: 100px;
  max-height: 150px;
}
.form-control-lg,
.invia {
  min-width: 300px;
}
.logo {
  width: 120px;
  height: 120px;
}
.contacts {
  width: 80px;
  height: 80px;
}
.drago {
  width: 400px;
  height: 400px;
}
.name-contact {
  margin-bottom: 80px;
}

li {
  font-size: 22px;
  list-style-type: none;
}

.esperienza > ul > li,
.studi > ul > li {
  margin-bottom: 2.5em;
}
.competenze,
.studi,
.esperienza,
.chi-sono {
  margin-bottom: 100px;
}

@media only screen and (max-width: 600px) {
  .home {
    flex-direction: column-reverse;
  }
  .home > div {
    width: 100% !important;
  }
  .col-img {
    padding: 0px;
  }
  .name-contact {
    flex-direction: column-reverse;
  }
}
